################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/com.zhong.chinese_calendar/bin
/com.zhong.chinese_calendar/obj
/com.zhong.chinese_calendar/Properties 
/com.zhong.chinese_calendarTests/bin
/com.zhong.chinese_calendarTests/obj 
/com.zhong.chinese_calendar/Logs
/com.zhong.chinese_calendar/Parameters.xml
